<div>
    {{> nav/header-block}}
    <div class="container" id="posts">
        <div class="post">
            <div style="font-size:2em; margin-bottom: 50px;">
                <h1>
                    <a href="/../dashboard">
                        <i class="fas fa-arrow-left" style="margin-right: 20px;"></i>
                    </a>
                    Posts</h1>
            </div>


            <ul>
                {{#each posts}}
                <li>
                    <a data-post href="/category/1/{{category}}/{{id}}">{{title}}</a>
                </li>

                {{/each}}
            </ul>

        </div>
    </div>
</div>