<div>
    {{> nav/header-block}} {{> nav/create-post-block}}
</div>
<div class="container months panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item active">
                <a class="nav-link" href="#month1" data-toggle="tab">Jan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#month2" data-toggle="tab">Fev</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#month3" data-toggle="tab">Mar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#month4" data-toggle="tab">Apr</a>
            </li>
        </ul>
    </div>

    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="month1">
                <div class="weeks">
                    <ul>
                        <li>
                            <button onclick="week(1)">Week 1</button>
                        </li>
                        <li>
                            <button onclick="week(2)">Week 2</button>
                        </li>
                        <li>
                            <button onclick="week(3)">Week 3</button>
                        </li>
                        <li>
                            <button onclick="week(4)">Week 4</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="month2">
                <div class="weeks">
                    <ul>
                        <li>
                            <button onclick="week(5)">Week 5</button>
                        </li>
                        <li>
                            <button onclick="week(6)">Week 6</button>
                        </li>
                        <li>
                            <button onclick="week(7)">Week 7</button>
                        </li>
                        <li>
                            <button onclick="week(8)">Week 8</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="month3">
                <div class="weeks">
                    <ul>
                        <li>
                            <button onclick="week(9)">Week 9</button>
                        </li>
                        <li>
                            <button onclick="week(10)">Week 10</button>
                        </li>
                        <li>
                            <button onclick="week(11)">Week 11</button>
                        </li>
                        <li>
                            <button onclick="week(12)">Week 12</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="month4">
                <div class="weeks">
                    <ul>
                        <li>
                            <button onclick="week(13)">Week 13</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="categories"></div>
    </div>
</div>
</div>
<script>
    function week(weekNumber) {
        var container = document.getElementById("categories");

        if (weekNumber === 1) {
            container.innerHTML = `
            <div class='category'>
                <ul>
                    <li><a href='/category/${weekNumber}/html'>HTML</a></li>
                    <li><a href='/category/${weekNumber}/css'>CSS</a></li>
                    <li><a href='/category/${weekNumber}/bootstrap'>Bootstrap</a></li>
                </ul>
            </div>`;
        } else if (weekNumber === 2) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/4-javascript.html'>JavaScript</a></li></ul></div>";
        } else if (weekNumber === 3) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/5-jquery.html'>jQuery</a></li><li><a href='/categories/6-api.html'>API's</a></li></ul></div>";
        } else if (weekNumber === 4) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/7-json.html'>JSON</a></li></ul></div>";
        } else if (weekNumber === 5) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/8-ajax.html'>AJAX</a></li><li><a href='/categories/9-firebase.html'>Firebase</a></li></ul></div>";
        } else if (weekNumber === 6) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/10-git.html'>Git</a></li><li><a href='/categories/11-mysql.html'>MySQL</a></li></ul></div>";
        } else if (weekNumber === 7) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/11-mysql.html'>MySQL</a></li></ul></div>";
        } else if (weekNumber === 8) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/12-mongodb.html'>MongoDB</a></li></ul></div>";
        } else if (weekNumber === 9) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/13-mvc.html'>MVC</a></li><li><a href='/categories/14-orm.html'>ORM</a></li></ul></div>";
        } else if (weekNumber === 10) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/15-sequelize.html'>Sequelize</a></li></ul></div>";
        } else if (weekNumber === 11) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/16-node.html'>Node.js</a></li></ul></div>";
        } else if (weekNumber === 12) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/17-express.html'>Express.js</a></li></ul></div>";
        } else if (weekNumber === 13) {
            container.innerHTML = "<div class='category'><ul><li><a href='/categories/18-react.html'>React</a></li></ul></div>";
        }
    }
</script>