<div class="index-bcg">
    <div class="container">
        <div class="signup">
            <div class="row vertical-center">
                <div class="signup-form col-md-12">
                    <form class="form-signin" id="sign-up" action="/signup" method="POST">
                        <a href="signin">
                            <i class="fas fa-arrow-left" style="margin: 20px 0 0 10px;"></i>
                        </a>
                        <img src="/assets/images/logo.svg" alt="Logo">
                        <p>Welcome! Please create a new account.</p>
                        <input type="text" class="form-control signup-username" name="username" placeholder="Username" required="" autofocus="" />
                        <input type="text" class="form-control signup-email" name="email" placeholder="Email Address" required="" autofocus="" />
                        <input type="text" class="form-control signup-first" name="firstname" placeholder="First name" required="" autofocus="" />
                        <input type="text" class="form-control signup-last" name="lastname" placeholder="Last name" required="" autofocus="" />
                        <input type="password" class="form-control signup-password" name="password" placeholder="Password (Minimum 6 characters)"
                            required="" />
                        <button class="btn btn-lg btn-primary btn-block create-btn" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
