<div class="index-bcg">
    <div class="container">
        <div class="row vertical-center">
            <div class="login-form col-md-12">
                <form class="form-signin" id="sign-up" action="/signin" method="POST">
                    <img src="/assets/images/logo.svg" alt="Logo">
                    <p>Welcome back! Please login to your account.</p>
                    <input type="text" class="form-control login-username" name="username" placeholder="Username" required="" autofocus="" />
                    <input type="password" class="form-control login-password" name="password" placeholder="Password" required="" />
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                    </label>
                    <button class="btn btn-lg btn-primary btn-block login-btn" type="submit">Login</button>
                    <a href="signup" class="btn btn-lg btn-primary signup-btn">Sign up</a>
                </form>
            </div>
        </div>
    </div>
</div>
