body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: #00bcd4;
}

input,
button,
submit {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}

.index-bcg {
  background: url('../images/bcg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form {
  height: 500px;
}

.login-form img,
.signup-form img {
  width: 40%;
  text-align: center;
  margin: 50px auto 40px auto;
  display: block;
}

.login-form p,
.signup-form p {
  text-align: center;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.form-control,
.create-btn {
  width: 68%;
  margin: 0 auto;
}

.login-email,
.signup-username {
  margin-top: 50px;
}

.login-password,
.signup-email,
.signup-first,
.signup-last,
.signup-password {
  margin-top: 20px;
}

.login-btn {
  float: left;
  width: 30%;
  margin-left: 75px;
}

.signup-btn {
  float: right;
  width: 30%;
  margin-top: 0 !important;
  margin-right: 75px;
}

.signup-form,
.login-form {
  max-width: 500px;
  background-color: white;
  margin: 0 auto;
}

.create-btn {
  margin-top: 50px;
  margin-bottom: 70px;
}

.checkbox {
  text-align: center;
  width: 100%;
  margin: 30px 0 50px 0;
}

.btn-primary {
  background-color: #00bcd4;
  border-color: #00bcd4;
}

/* Dashboard page */

.dashboard {
  max-width: 400px !important;
}

.navbar {
  background: #00bcd4;
}

.session-two {
  margin-top: 50px;
}

.list-unstyled {
  text-align: right;
}

.logo-dashboard {
  width: 125px;
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

.weeks {
  margin-top: 50px;
}

.weeks ul {
  display: flex;
}

.weeks li {
  width: 25%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #00bcd4;
  border-right: 1px solid white;
}

.weeks li a {
  color: white;
}

#posts {
  margin-top: 20px;
  visibility: hidden;
}

.post {
  background: #c0e6eb;
  padding: 20px;
}

.create-post-btn {
  background: #006774;
  width: 52%;
  padding: 12px 0;
}

.panel-heading {
  margin-top: 50px;
}

.btn-secondary {
  background-color: #006774;
  border-color: #006774;
}

.search-box {
  padding-left: 0;
}
