<div class="container session-two">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-pages create-post-btn">
                <a href="/create-post" style="color: white">Create a new post</a>
            </button>
        </div>
        <div class="col-md-6 categories-box text-right">
            <div class="categories-btn">
                <button type="button" class="btn btn-pages dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/category/1/html">HTML</a>
                    <a class=" dropdown-item " href="/category/1/css">CSS</a>
                    <a class="dropdown-item " href="categories/3-bootstrap.html ">Bootstrap</a>
                    <a class="dropdown-item " href="categories/4-javascript.html ">JavaScript</a>
                    <a class="dropdown-item " href="categories/5-jquery.html ">jQuery</a>
                    <a class="dropdown-item " href="categories/6-api.html ">API's</a>
                    <a class="dropdown-item " href="categories/7-json.html ">JSON</a>
                    <a class="dropdown-item " href="categories/8-ajax.html ">AJAX</a>
                    <a class="dropdown-item " href="categories/9-firebase.html ">Firebase</a>
                    <a class="dropdown-item " href="categories/10-git.html ">Git</a>
                    <a class="dropdown-item " href="categories/11-mysql.html ">MySQL</a>
                    <a class="dropdown-item " href="categories/12-mongodb.html ">MongoDB</a>
                    <a class="dropdown-item " href="categories/13-mvc.html ">MVC</a>
                    <a class="dropdown-item " href="categories/14-orm.html ">ORM</a>
                    <a class="dropdown-item " href="categories/15-sequelize.html ">Sequelize</a>
                    <a class="dropdown-item " href="categories/16-node.html ">Node.js</a>
                    <a class="dropdown-item " href="categories/17-express.html ">Express.js</a>
                    <a class="dropdown-item " href="categories/18-react.html ">React.js</a>
                </div>
            </div>
        </div>
    </div>
</div>