<div class="navbar navbar-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img class="logo-dashboard" src="/assets/images/logo2.svg" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
            aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="bg-dark collapse" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 data-user class="text-white">{{user.username}}</h4>
                <p class="text-muted">{{user.email}}</p>
                <p class="text-muted">Class: Coding Bootcamp</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white">My favs</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">My comments</a>
                    </li>
                    <li>
                        <a href="/logout" class="text-white">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container session-two">

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-pages create-post-btn">
                <a href="/create-post" style="color: white">Create a new post</a>
            </button>
        </div>
        <div class="col-md-6 categories-box text-right">
            <div class="categories-btn">
                <button type="button" class="btn btn-pages dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="categories/1-html.html">HTML</a>
                    <a class="dropdown-item" href="categories/2-css.html">CSS</a>
                    <a class="dropdown-item" href="categories/3-bootstrap.html">Bootstrap</a>
                    <a class="dropdown-item" href="categories/4-javascript.html">JavaScript</a>
                    <a class="dropdown-item" href="categories/5-jquery.html">jQuery</a>
                    <a class="dropdown-item" href="categories/6-api.html">API's</a>
                    <a class="dropdown-item" href="categories/7-json.html">JSON</a>
                    <a class="dropdown-item" href="categories/8-ajax.html">AJAX</a>
                    <a class="dropdown-item" href="categories/9-firebase.html">Firebase</a>
                    <a class="dropdown-item" href="categories/10-git.html">Git</a>
                    <a class="dropdown-item" href="categories/11-mysql.html">MySQL</a>
                    <a class="dropdown-item" href="categories/12-mongodb.html">MongoDB</a>
                    <a class="dropdown-item" href="categories/13-mvc.html">MVC</a>
                    <a class="dropdown-item" href="categories/14-orm.html">ORM</a>
                    <a class="dropdown-item" href="categories/15-sequelize.html">Sequelize</a>
                    <a class="dropdown-item" href="categories/16-node.html">Node.js</a>
                    <a class="dropdown-item" href="categories/17-express.html">Express.js</a>
                    <a class="dropdown-item" href="categories/18-react.html">React.js</a>
                </div>
            </div>
        </div>
    </div>
</div>