
<div class="navbar navbar-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img class="logo-dashboard" src="assets/images/logo2.svg" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
            aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="bg-dark collapse" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 data-user class="text-white">User name</h4>
                <p class="text-muted">useremail@email.com</p>
                <p class="text-muted">Class: Coding Bootcamp</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white">My favs</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">My comments</a>
                    </li>
                    <li>
                        <a href="/logout" class="text-white">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>